body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #111111;
}
h1 {
    font-size: 180%;
    font-weight: bold;
    color: black;
}
h3 {
    font-weight: bold;
    border-bottom: 1px solid #999999;
    margin-bottom: 0.5em;
}
p {
    padding-bottom: 0.5em;
    line-height: 1.3em;
}
em {
    font-style: italic;
}
#navbar {
    height: 35px;
}
#gameTitle {
    float: right;
}
#start {
    display: block;
    background-color: #158519;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0px auto 0px auto;
}
#codePane {

}
#titlebar {
    width: 100%;
    margin: 5px;
}
#sidebar {
    position: absolute;
    width: 800px;
    height: 390px;
    background-color: #ffffff;
}
#instructions {
    padding: 0.5em;
    overflow: auto;
    height: 350px;
}
#graybar {
    background-color: #333333;
    width: 100%;
    height: 400px;
}
#output {
    font-family: Georgia;
    background-color: #ffffff;
    width: 600px;
    height: 390px;
    margin-left: 200px;
    background-image: url(../img/pokertable2.png);
    color: white;
}
#money {
    text-align: right;
}
#display {
    margin-left: 100px;
    height: 280px;
}
#bottomBar {
    background-color: #cfcfcf;
    height: 28px;
}
#debugWrap {
    padding: 5px;
}
#debug {
    height: 16px;
    font-size: 11px;
    padding: 1px 3px;
    line-height: 16px;
    display: block;
    width: 685px;
    background-color: #ffffff;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}
#directions {
    background-color: #d2232a;
}
#directionsLabel {

}
#toggleIns {
    float: right;
    padding: 8px;
    cursor: pointer;
}
#submit {
    float: right;
    cursor: pointer;
}
#betbox {
    float: right;
}
#betbox input {
    width: 3em;
}
#bottomRibbon {
    width: 100%;
    height: 16px;
    background-image: url(../img/bottomribbon.png);
    background-repeat: repeat-x;
    margin-top: 16px;
}
.codebox {
    width: 790px;
    height: 200px;
    background-color: #ffffff;
}
.code {
    white-space: pre;
    font-family: "Courier New", Courier, monospace;
    background-color: #cfcfcf;
    padding: 0.3em;
}
.hiddencode {
    white-space: pre;
    font-family: "Courier New", Courier, monospace;
    background-color: #cfcfcf;
    display: none;
    padding: 0.3em;
}
.playerLabel {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
.obnox {
    font-size: 70px;
    text-align: center;
    margin-bottom: 20px;
}
.objectives {
    float: right;
    width: 200px;
    margin: 5px;
    font-size: 90%;
    border: 1px solid black;
    background-color: #EEEEEE;
}
.objectives h4 {
    font-weight: bold;
    font-size: 110%;
    margin-bottom: 0.5em;
    padding: 3px;
}
.objectives ol {
    list-style: decimal;
    margin-bottom: 1em;
}
.objectives li {
    margin-left: 2em;
    margin-bottom: 0.5em;
}
.spacer {
    padding: 0.5em;
}
.wrapper {
    width: 800px;
    margin: 0px auto 0px auto;
}
.variable {
    font-family: "Courier New", Courier, monospace;
}
