body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}
em {
    font-style: italic;
}
h1 {
    color: #000;
    font-size: 180%;
    font-weight: 700;
}
h3 {
    border-bottom: 1px solid #999;
    font-weight: 700;
    margin-bottom: .5em;
}
#betbox input {
    width: 3em;
}
#bottomBar {
    background-color: #cfcfcf;
    height: 28px;
}
#bottomRibbon {
    background-image: url(../img/bottomribbon.png);
    background-repeat: repeat-x;
    height: 16px;
    margin-top: 16px;
    width: 100%;
}
#debug {
    background-color: #fff;
    display: block;
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    padding: 1px 3px;
    width: 685px;
}
#debugWrap {
    padding: 5px;
}
#directions {
    background-color: #d2232a;
}
#display {
    height: 280px;
    margin-left: 100px;
}
#gameTitle, #betbox {
    float: right;
}
#graybar {
    background-color: #333;
    height: 400px;
    width: 100%;
}
#instructions {
    height: 340px;
    overflow: auto;
    padding: .5em;
}
#instructions p {
    line-height: 1.3em;
    padding-bottom: .5em;
}
#instructions ul {
    list-style: disc;
}
#instructions li {
    margin-left: 2em;
    line-height: 1.3em;
    
}
#money {
    text-align: right;
}
#navbar {
    height: 35px;
}
#notification {
    width: 400px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    background-color: white;
    z-index: 10;
    padding: 20px;
    background-color: #eee;
    display:none;
}
#notification h2 {
    font-weight: bold;
    font-size: 140%;
}
#notification ul {
    margin: 1em 2em;
    list-style-type: disc;
    font-size: 110%;
}
#output {
    background-color: #fff;
    background-image: url(../img/pokertable2.png);
    color: #FFF;
    font-family: Georgia;
    height: 390px;
    margin-left: 200px;
    width: 600px;
}
#sidebar {
    background-color: #fff;
    height: 390px;
    position: absolute;
    width: 800px;
}
#start {
    background-color: #158519;
    color: #FFF;
    display: block;
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    width: 200px;
}
#submit {
    cursor: pointer;
    float: right;
}
#titlebar {
    margin: 5px;
    width: 100%;
}
#toggleIns {
    cursor: pointer;
    float: right;
    padding: 8px;
}
.code {
    background-color: #cfcfcf;
    font-family: "Courier New", Courier, monospace;
    padding: .3em;
    white-space: pre;
    margin-bottom: 1em;
}
.codebox {
    background-color: #fff;
    height: 200px;
    width: 790px;
}
.hiddencode {
    background-color: #cfcfcf;
    display: none;
    font-family: "Courier New", Courier, monospace;
    padding: .3em;
    white-space: pre;
}
.objectives {
    background-color: #eee;
    border: 1px solid #000;
    float: right;
    font-size: 90%;
    margin: 5px;
    width: 200px;
}
.objectives h4 {
    font-size: 110%;
    font-weight: 700;
    margin-bottom: .5em;
    padding: 3px;
}
.objectives li {
    margin-bottom: .5em;
    margin-left: 2em;
}
.objectives ol {
    list-style: decimal;
    margin-bottom: 1em;
}
.obnox {
    font-size: 70px;
    margin-bottom: 20px;
    text-align: center;
}
.playerLabel {
    font-size: 120%;
    font-weight: 700;
    text-align: center;
}
.spacer {
    padding: .5em;
}
.variable {
    font-family: "Courier New", Courier, monospace;
}
.wrapper {
    margin: 0 auto;
    width: 800px;
}