body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #111111;
}
h1 {
	font-size: 180%;
	font-weight: bold;
	color:black;
}
h2 {
	font-weight: bold;
	border-bottom: 1px solid #999999;
	margin-bottom: 0.5em;
}
h3 {
	font-weight: bold;
	
}
p {
	padding-bottom: 0.5em;
	line-height: 1.2em;
} 
ul {
	padding-top: 0.5em;
}
li {
	padding-bottom: 0.5em;
}
em {
	font-style: italic;
}
pre {
	padding-top:1em;
	font-family: monospace;
}
#start {
	display: block;
	background-color: #158519;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	margin: 0px auto 0px auto;
}

#wrapper {
	width: 800px;
	height: 100%;
	margin: 0px auto 0px auto;
}
#titlebar {
	width: 100%;
	margin: 5px;
}
#sidebar {
	position:absolute;
	width: 800px;
	height: 390px;
	background-color: #eeeeee;
	overflow:auto;
}
#instructions {
	padding: 0.5em;
}
#inout {
	float: right;
	position: relative;
}
#output {
	font-family: Georgia;
	background-color: #eeeeee;
	width: 580px;
	height: 390px;
	margin-left: 220px;
	background-image:url(../img/pokertable.png);
	color: white;
}
#money { 
	text-align: right;
}
#display {
    margin-left: 100px;
	height: 280px;
	
}
#evalButton {
	text-align:center;
}
#betbox {
    float:right;
}
#betbox input {
    width: 3em;
}
.codebox {
	width: 800px;
	height: 200px;
	background-color: #eeeeee;
}
.code {
    white-space: pre;
    font-family: monospace;
}
.playerLabel {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.obnox {
	font-size: 70px;
	text-align:center;
	margin-bottom: 20px;
}
.spacer {
	padding: 0.5em;
}
